ul{
    display: flex;
   align-items: center;
   justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.favorite{
   float:right;
   padding-right: 2rem;
   font-size: 1.2rem;
   color: red;
}
.favorite.not{
    color: black;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    background-color: whitesmoke;
    font-size: 16px;
}

ul li a{
    height: 20rem;
    width: 19rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: red;
}
img{
   padding-left: 10px;
   border-radius: 2rem;
}
.content{
    padding: .5rem ;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}